.rectangle{
	background-color: #000557;
	height: 180px;
	width: 1600px;
	padding-top: 50px; 
}


.news {
	width: 119px;
	height: 21px;
	margin: auto 100px 62px 600px !important;
	font-family: "Squada One";
	font-size: 60px;
	line-height: 1;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
}

.latest-news-div{
	margin: 32px 0px auto 260px;
}

hr{
	margin-top: 4px;
	margin-bottom: 18px !important;
	width: 1000px;
}
#hr2{
	margin-top: 18px;
	width: 1000px;
}

.latest-news{
	/*margin: 32px auto auto auto;*/
	border-bottom: 5px solid #FF6800;
	width: 137px;
	height: 21px;
	font-family: "Squada One";
	font-size: 30px;
	line-height: 1;
	text-align: left;
	color: #060e59;
}

#search-news-for {
	margin: auto 20px 33px 700px !important;
	width: 127px;
	height: 16px;
	font-family: "Roboto";
	font-size: 21px;
	font-weight: 300;
	font-stretch: condensed;
	line-height: 1.43;
	text-align: left;
	color: #060e59;
}

#search{
	width: 215px;
	height: 45px;
	border: solid 1px #c6c7d3;
}

#year{
  	width: 140px;
  	height: 45px;
  	border-radius: 2px;
  	color: #060e59;
  	border: solid 1px #c6c7d3;
}

.newsfeed{
	height: 750px;
	padding: 30px 250px;
	display: flex;
	flex-wrap: wrap;
}

.news-content-div{
	padding: 8px 10px;
	width: 338px;
	height: auto;
}

.news_title{
	width: auto;
	height: 50px;
	font-family: "Roboto";
	font-size: 22px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 1.25;
	text-align: left;
	color: #1c1947;
}

.news_title a:link, .news_title a:visited{
	text-decoration: none;
	color: #000557;
}

#news_date{
	height: 12px;
	font-family: "Roboto";
	font-size: 16px;
	font-stretch: condensed;
	line-height: 1.38;
	text-align: left;
	color: #8e90a7;
}

.news-content{	
	width: auto;
	height: 35px;
	font-family: "Roboto";
	font-size: 19px;
	font-weight: 300;
	font-stretch: condensed;
	line-height: 1.24;
	text-align: left;
	color: #000557;
}