		
.rectangle{
	background-color: #000557;
	height: 180px;
	padding-top: 50px; 
}

.news {
	width: 119px;
	height: 21px;
	margin: auto 100px 62px 600px !important;
	font-family: "Squada One";
	font-size: 60px;
	line-height: 1;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
}

.latest-news-div{
	padding: 0 !important;
	margin-top: 32px;
	border-bottom: 1px solid #CCCCCC;
}


.latest-news{
	margin-bottom: 0px !important;
	border-bottom: 4px solid #FF6800;
	height: 21px;
	font-family: "Squada One";
	font-size: 30px;
	line-height: 1;
	text-align: left;
	color: #060e59;
}

#search-area{
	padding-bottom: 18px;
	border-bottom: 1px solid #CCCCCC;
}

#search-news-for {
	padding: 0 !important;
	margin-top: 18px;
	margin-right: 14px;
	margin-bottom: 33px ;
	height: 16px;
	font-family: "Roboto";
	font-size: 21px;
	font-weight: 300;
	font-stretch: condensed;
	line-height: 1.43;
	text-align: left;
	color: #060e59;
}

#search{
	height: 45px;
	margin-top: 18px !important;
	border: solid 1px #c6c7d3;
}

.go-button{
	margin-top: 18px !important;
	height: 45px;
	background-color: #ee7306;	
}

.go-button-text{
	border-radius: 2px;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 1;
	letter-spacing: 0.9px;
	text-align: left;
	color: #ffffff;
}

#year{
	margin-top: 18px !important;
  	height: 45px;
  	border-radius: 2px;
  	color: #060e59;
  	border: solid 1px #c6c7d3;
}

.newsfeed{
	padding: 0 !important;
	height: 750px;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 550px){
	body{
		width: 100% !important;
	}
	.news-content-div{
		width: 500px !important;
		margin-right: 25px !important;
		margin-left: 80px !important;
		padding: 8px 20px 8px 30px !important;
	}
}

.news-content-div{
	padding: 20px 20px 8px 0px !important;
	width: 338px;
	height: auto;
}

.news_title{
	width: auto;
	height: 50px;
	font-family: "Roboto";
	font-size: 22px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 1.25;
	text-align: left;
	color: #1c1947;
}

.news_title a:link, .news_title a:visited{
	text-decoration: none;
	color: #000557;
}

#news_date{
	height: 12px;
	font-family: "Roboto";
	font-size: 16px;
	font-stretch: condensed;
	line-height: 1.38;
	text-align: left;
	color: #8e90a7;
}

#content{
	position: relative;
	padding: 0 !important;
}

.news-content{	
	width: auto;
	height: 35px;
	font-family: "Roboto";
	font-size: 19px;
	font-weight: 300;
	font-stretch: condensed;
	line-height: 1.24;
	text-align: left;
	color: #000557;
}

span.col-md-12,a.col-md-12,img.col-md-12{
	padding: 0 !important;
}

.col-md-10{
	padding: 0 !important;
}

@media screen and (min-width: 600px) and (max-width: 767px){

	.latest-news{
		margin-left: 10px;
	}
	
	#search-area{	
		padding-top: 10px;
	}

	#search-news-for{
		margin-left: 80px;
	}

	#search{
		margin-left: 12px;
		width: 288px;
	}

	#year{
		margin-left: 80px;
		width: 470px;
	}

	.go-button{
		margin-left: 80px;
		width: 470px;	
	}

	.area>a>img{
		margin: 0 !important;
	}

	.newsfeed{
		margin: 50px 80px;
	}

	#news_date{
		margin: 50px 0px;
	}

	.news_title{
		margin: 50px 0px;
	}

	.news-content-div{
		width: 450px;
		margin-left: 0px;
	}

}

@media screen and (max-width: 1233px){
	
	
}